@model WorkstationMonitoringSystem.Models.Workstation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Workstation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPU" class="control-label"></label>
                <input asp-for="CPU" class="form-control" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU" class="control-label"></label>
                <input asp-for="GPU" class="form-control" />
                <span asp-validation-for="GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memory" class="control-label"></label>
                <input asp-for="Memory" class="form-control" />
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsedMemory" class="control-label"></label>
                <input asp-for="UsedMemory" class="form-control" />
                <span asp-validation-for="UsedMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralInfoJSON" class="control-label"></label>
                <input asp-for="GeneralInfoJSON" class="form-control" />
                <span asp-validation-for="GeneralInfoJSON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPUInfoJSON" class="control-label"></label>
                <input asp-for="GPUInfoJSON" class="form-control" />
                <span asp-validation-for="GPUInfoJSON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
